body {
  background-color: #222851;
  font-size: 16px;
  font-family: 'Bebas Neue',cursive;
  margin: 50px;
}
h1 {
  text-transformation: uppercase;
  letter-spacing: 1px;
  font-size: 4rem;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding 0;
}
li {
  margin-bottom: 15px;
  font-size: 2rem;
}
