/****** general styles ******/
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #003366;
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  }

/****** layout styles ******/
header {
  width: 75vw;
  margin: 25px auto;
  background-color: green;
}
main {
  width: 75vw;
  margin: 25px auto;
  background-color: yellow;
}
.col {
  width: 50%;
  background-color: orange;
}

  /****** type styles ******/
  h1 {
    font-size: 4rem;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    text-transform: uppercase;
}
  h2 {
    font-size: 2rem;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    text-transform: uppercase;
}

a:link, a:visited {
  color: whitesmoke;
}
a:hover, a:active {
  color: #ffa700;
}
a:visited
  color: #afc9cf {
}
