/****** general styles ******/
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #000033;
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  }

/****** layout styles ******/
header {
  width: 75vw;
  margin: 25px auto;
  color: #ff7300
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
#container {
  width: 25%;
  float: left;
}

  /****** type styles ******/
  h1 {
    font-size: 4rem;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    text-transform: uppercase;
}
  h2 {
    font-size: 2rem;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    text-transform: uppercase;
    color: #5fe8ff
}

ul {
  list-style-type: circle;
  color: whitesmoke;
  margin-left: -20px;
}
a:link, a:visited {
  color: whitesmoke;
}
a:hover, a:active {
  color: #ffa700;
}
a:visited
  color: #afc9cf {
}

/****** mdeia queries ******/
@media screen and (max-width: 900px) {
  .col {
    width: 100%
    margin-bottom: 50px;
  }
header {
  width: 90vw;
}
main {
  width: 90vw;
}
h1 {
  font-size: 3rem;
}
