* {
  box-sizing; border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  background-color: #000033;
  color: whitesmoke;
  font-family: 'Bebas Neue', cursive;
}
main {
  width: 132vw;
  margin: -50px -15vw;
}
#p1 .shape1 {
  background-color: green
  width: 100px
  height:100px
  margin: -15px;
  float: left;
  opacity: .5;
  border-radius: 50%
}
#p1 .shape2 {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
  float: left;
 }

}
#p1 .shape3 {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: orange;
  position: relative;
  top: -50px;
  float: left
}
#p2 .shape1 {
  background-color: #ccff02;
  width: 100px;
  height: 100px;
  border-radius: 50%
  float: left
}
#p2 .shape2 {
  width: 200;
  height: 100;
  margin: -15px -7.5px;
  border: 50px solid transparent;
  border-bottom-color: orange;
  position: relative;
  top: -50px;
  float: left;
  opacity: .5;
  transform: rotate(20deg);
}
#p2 .shape3 {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: #842bd7;
}
