* {
  box-sizing: border-box;
}
body {
  margin: 0;;
}
main {
  width: 132vw;
  margin: -50px -15vw;
}
.shape1 {
  background-color: #ff6600;
  width: 100px;
  height: 100px;
  margin: -5px;
  float: left;
}
.shape2 {
  background-color: #ff0099;
  width: 100px;
  height: 100px;
  margin: -15px;
  float: left;
  border-radius: 50%;
}
.shape3{
  background-color: #09fbd3;
  width: 100px;
  height: 100px;
  margin: -15px -5.25px;
  float: left;
  border: 2px solid purple;
  transform: rotate(45deg);
}
.shape4{
  vertical-align: middle;
  border-bottom: 31px solid red;
  border-left: 25px solid transparent;
  height: 0;
  width: 150px;
  margin: -15px -5.25px;
  float: left;
  border: 2px solid purple;
  transform: rotate(45deg);
}
.shape5{
  background-color: #9799ba;
  width: 100px;
  height: 100px;
  margin: -15px -5.25px;
  float: left;
  border: 2px solid purple;
  transform: rotate(45deg);
}
.shape6 {
  background-color: #feadb9;
  width: 100px;
  height: 100px;
  margin: -15px -5.25px;
  float: left;
  border: 2px solid purple;
  transform: rotate(45deg);
}
.shape7 {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background-color: orange;
  margin: -15px;
  float: left;
}
.shape8 {
  margin: 50px 0;
  position: relative;
  display: block;
  color: yellow;
  width: 200px;
  height: 200px;
  transform: rotate(35deg);
  float: left;
}
.shape9 {
  width: 500px;
  height: 500px;
  border-top: 100px solid red;
  border-left: 100px solid transparent;
  margin: -15px;
  float: left;
}
