body {
  background-color: #581845;
  font-size: 16px;
  color: white;
  font-family: 'Bebas Neue', cursive;
  margin: 50px;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 4rem;
}
ul {
  list-style-type: circle;
  color: whitesmoke
}
.intro {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #c8f902;
  font-weight: 300;
}
