body {
  background-color: #581845;
  font-size: 16px;
  color: white;
  font-family: 'Arapey', serif;
  margin: 50px;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 4rem;
}
ul {
  list-style-type: circle;
  color: white;
  margin: 0;
  padding: 0;
}
li {
    margin-bottom: 15px;
    font-size: 2rem;
}
.intro {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #c8f902;
  font-weight: 300;
}
