body {
  background-color: #581845;
  font-size: 16px;
  color: white;
  font-family: 'Arapey', serif;
  margin: 50px;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 4rem;
}
ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;

}
.intro {
  font-size: 2rem;
  letter-spacing: 1px;
  color: white;
  font-weight: italic;
}
.contrast {
  font-weight: italic;
}
