* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.logo {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 208px;
  height: 198px;
  border-radius: 35% 35% 41% 41% / 42% 42% 75% 75%;
}
