* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #000;
}
.logo {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #ff4e50;
  width: 208px;
  height: 198px;
  border-radius: 50%;
}
.logo:before{
    background: #ff4e50;
    content: "";
    width: 55px;
    height: 55px;
    position: absolute;
    margin: -51px 0 0 100px;
    border-radius: 100px 0;
    z-index: 5;
  }
