body {
  color: #003366;
  margin: 50px;
}
h1 {
  font-family: 'Sofia', cursive;
  text-align: center;
  font-size: 40px;
}
h2 {
  font-family: 'Sofia', cursive;
  text-align: center;
  font-size: 40px;
}
.header {
  background-color: purple;
  width: 100%;
  height: 100%;
  display: flow-root;
}

.name {
  color: #C8A2C8
}
.welcome {
  color: #C8A2C8
}
.about {
  color: #C8A2C8
}
.visit {
  color: #C8A2C8
}
