body {
  color: #003366;
  margin: 50px;
}
h1 {
  font-family: 'Sofia', cursive;
}
h2 {
  font-family: 'Sofia', cursive;
}

.name {
  color: #C8A2C8
}
.welcome {
  color: #C8A2C8
}
.about {
  color: #C8A2C8
}
.visit {
  color: #C8A2C8
}
.navigation {
  width: 110%;
  height: 115px;
  background-color: #C8A2C8
  margin: -10px;
  flex-direction: row;
  display: flex;
}
